
  
  <div class="row">
    <div class="input-group input-group-lg col-md-12">
      {{input id="beer-lookup" classNames="form-control" value=findBeer placeholder="Dude where's my Beer!" key-up="filterBeers"}}  
    </div>
  </div>

  <div class="row">
    {{beer-table beers=beerSearch}}
  </div>
